<!DOCTYPE html>
<html>
	<head>
		<title>Cadastro Usuários</title>
		<meta charset="utf-8"/>
		<link rel="stylesheet" type="text/css" href="./Lib/css/bootstrap.min.css">
	    <script type="text/javascript" src="./Lib/js/jquery.min.js"></script>
	    <script type="text/javascript" src="./Lib/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container">
		<h3>Cadastro de Usuários</h3>

			<hr>

	    <form role="form">
	   		<div class="row">
	    		<div class="form-group col-sm-2">
				    <label>Código</label>
				    <input type="text" class="form-control" disabled="disabled">
	    		</div> 
	    		<div class="form-group col-sm-10">
				    <label>Nome</label>
				    <input type="text" class="form-control">
	    		</div>
	    		<div class="form-group col-sm-8">
				    <label>Usuário</label>
				    <input type="text" class="form-control">
	    		</div>
	    		<div class="form-group col-sm-4">
				    <label>Senha</label>
				    <input type="text" class="form-control">
	    		</div> 
	    		<div class="form-group col-sm-8">
				    <label>Email</label>
				    <input type="text" class="form-control">
	    		</div>     
	    	</div>
	    	<hr>
	   		<div class="row">
	    		<div class="col-sm-2 pull-right">
	    			<button class="btn btn-warning ">Limpar</button> 
            		<button class="btn btn-success ">Cadastrar</button>            		
        		</div>  
        	</div>
	    </form>
	</body>
</html>