<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<title>Carrinho</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <link rel="stylesheet" type="text/css" href="../Lib/css/bootstrap.min.css">
	    <script type="text/javascript" src="../Lib/js/jquery.min.js"></script>
	    <script type="text/javascript" src="../Lib/js/bootstrap.min.js"></script>
	    <link href="produto.css" rel="stylesheet">
	   	<link href="index.css" rel="stylesheet">

	   	<style type="text/css">

	   	h2, h4, p{
	   		font-family: ubuntu;
	   	}

	   	</style>

	</head>
	<body>
		<header>
			<div class="container">
				<div class="topo row">
					<div class="logo col-md-3">
						<a href="#"><img src="logo.png" width="250" height="150"></a>
					</div>
					<div class="menu col-md-6">
						<div id="botao_menu">
					        <div class="btn-group btn-group-lg">
						        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Home <span class="caret"></span></button>
							        <ul class="dropdown-menu">
									    <li><a href="#">Dropdown link</a></li>
									    <li><a href="#">Dropdown link</a></li>
								    </ul>
							  	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Home <span class="caret"></span></button>
						        <ul class="dropdown-menu">
								    <li><a href="#">Oi</a></li>
								    <li><a href="#">Dropdown link</a></li>
							    </ul>
							    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Home <span class="caret"></span></button>
						        <ul class="dropdown-menu">
								    <li><a href="#">Dropdown link</a></li>
								    <li><a href="#">Dropdown link</a></li>
							    </ul>
							    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Home <span class="caret"></span></button>
						        <ul class="dropdown-menu">
								    <li><a href="#">Dropdown link</a></li>
								    <li><a href="#">Dropdown link</a></li>
							    </ul>
							    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Home <span class="caret"></span></button>
						        <ul class="dropdown-menu">
								    <li><a href="#">Dropdown link</a></li>
								    <li><a href="#">Dropdown link</a></li>
							    </ul>
						        
					        </div>
						</div>
					</div>
					<div class="carrinho col-md-3">
						<button type="button" class="btn btn-success btn-lg col-md-12" id="botao_carrinho">
							Carrinho <span class="glyphicon glyphicon-shopping-cart"></span>
						</button>
					</div>
					<div class="busca col-md-9">
						<div id="campo_busca">
						 	<div class="">
							    <div class="input-group">
								    <input type="text" class="form-control">
								    <span class="input-group-btn">
								    	 <button class="btn btn-default" type="button">Buscar</button>
								    </span>
							    </div>
		  					</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<main>
			<div class="container">
				<div class="row conteudo">
					<div class="menu_lateral col-md-3">
						<div class="panel panel-default">
							<div class="panel-heading cor_titulo">Notebook</div>
							<ul class="list-group">
								<a href=""><li class="list-group-item">Acer</li></a>
								<a href=""><li class="list-group-item">Acer</li></a>
								<a href=""><li class="list-group-item">Acer</li></a>
							</ul>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading cor_titulo">Notebook</div>
							<ul class="list-group">
								<a href=""><li class="list-group-item">Acer</li></a>
								<a href=""><li class="list-group-item">Acer</li></a>
								<a href=""><li class="list-group-item">Acer</li></a>
							</ul>
						</div>
					</div>
					<div class="tabela col-md-9">
						<div class="row">
							<table class="table table-hover table-striped">
							    <thead>
								    <tr>          
								    	<th class="col-sm-2"> Código </th>
								      	<th class="col-sm-4"> Nome </th>
								      	<th class="col-sm-2 text-center"> Qtde </th>
								      	<th class="col-sm-1 text-right"> Preço </th>
								      	<th class="col-sm-1 text-right"> Total </th>
								      	<th class="col-sm-1"> &nbsp; </th>
								      	<th class="col-sm-1"> &nbsp; </th>
								    </tr>
							    </thead>
							    <tbody>
								    <tr ng-repeat="item in itens">
									    <td> 1000</td>
									    <td> Notebook</td>
									    <td class="text-center">
									    	<div class="form-group">
	            								<input type="number" class="form-control">
	        								</div>
									    </td>
									    <td class="text-right">1500</td>
									    <td class="text-right"> 1500</td>          
									    <td>
								        	<button class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash"></span></button>
								        </td>
								        <td>
								        	<button type="button" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-trash"></span></button>
								        </td>
								    </tr>        
								</tbody>      
							</table>
							<div class="pull-right col-md-2">
    							<h3><label class="label label-success">R$</label></h3>
    						</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<footer>
			<div class="container">
				<div class="row rodape">

					<div class="lista_links col-md-3">
						<label>Links</label>
						<ul>
							<li><a href="#">Home</a></li>
							<li><a href="#">Home</a></li>
							<li><a href="#">Home</a></li>
							<li><a href="#">Home</a></li>
						</ul>
					</div>
					<div class="formas_pagamento col-md-3">
						<ul>
							<li><label>Formas de Pagamento</label></li>
							<li><a href="#"><img src="boleto.png" width="60" height="50"></a></li>
						</ul>
					</div>
					<div class="contato col-md-3">
						<ul>
							<li><label>Contato</label></li>
							<li>Tel: 
							0800 321 4567</li>
							<li>Email: atendimento@zecommerce.com</li>
						</ul>
					</div>

					<div class="redes_sociais col-md-3">
						<ul>
							<li><label>Redes Sociais</label></li>
							<li><a href="#"><img src="redes.png" width="100" height="50"></a></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>