<!DOCTYPE html>
<html>
	<head>
		<title>Painel de Controle</title>
		<meta charset="utf-8"/>
		<link rel="stylesheet" type="text/css" href="./Lib/css/bootstrap.min.css">
	    <script type="text/javascript" src="./Lib/js/jquery.min.js"></script>
	    <script type="text/javascript" src="./Lib/js/bootstrap.min.js"></script>

		<style type="text/css">
			#container{
				margin: 0 auto;
				width: 1000px;
			}
			.white{
				color: #fff;
			}
			.btn-off{
				margin-top: 10px;
				margin-bottom: 5px;
				font-size: 20px;
			}
		</style>
	</head>
	

	<body>
	<div class="container">
		<nav class="navbar navbar-inverse" role="navigation">
 
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Empresa</a>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav">
			<li class="active"><a href="#">Home</a></li>
			<li><a href="#">Grupo</a></li>
			<li><a href="#">Sub-Grupo</a></li>
			<li><a href="#">Produto</a></li>

		</ul>

		<div class="pull-right ">
			<a href=""><span class="glyphicon glyphicon-off white btn-off"></span></a>
		</div>

  </div>
</nav>
	</div> 
	</body>
</html>




