<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<title>Produto</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <link rel="stylesheet" type="text/css" href="../Lib/css/bootstrap.min.css">
	    <script type="text/javascript" src="../Lib/js/jquery.min.js"></script>
	    <script type="text/javascript" src="../Lib/js/bootstrap.min.js"></script>
	    <link href="produto.css" rel="stylesheet">
	   	<link href="index.css" rel="stylesheet">

	   	<style type="text/css">
	   	.foto{
	   		background: yellow;
	   		height: 500px;
	   	}
	   	.desc_produto{
	   		background: green;
	   		height: 500px;
	   		
	   	}
	   	h2, h4, p{
	   		font-family: ubuntu;
	   	}
	   	.desc{
	   		height: 200px;
	   		background: orange;
	   	}
	   	</style>

	</head>
	<body>
		<header>
			<div class="container">
				<div class="topo row">
					<div class="logo col-md-3">
						<a href="#"><img src="logo.png" width="250" height="150"></a>
					</div>
					<div class="menu col-md-6">
						<div id="botao_menu">
					        <div class="btn-group btn-group-lg">
						        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Home <span class="caret"></span></button>
							        <ul class="dropdown-menu">
									    <li><a href="#">Dropdown link</a></li>
									    <li><a href="#">Dropdown link</a></li>
								    </ul>
							  	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Home <span class="caret"></span></button>
						        <ul class="dropdown-menu">
								    <li><a href="#">Oi</a></li>
								    <li><a href="#">Dropdown link</a></li>
							    </ul>
							    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Home <span class="caret"></span></button>
						        <ul class="dropdown-menu">
								    <li><a href="#">Dropdown link</a></li>
								    <li><a href="#">Dropdown link</a></li>
							    </ul>
							    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Home <span class="caret"></span></button>
						        <ul class="dropdown-menu">
								    <li><a href="#">Dropdown link</a></li>
								    <li><a href="#">Dropdown link</a></li>
							    </ul>
							    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Home <span class="caret"></span></button>
						        <ul class="dropdown-menu">
								    <li><a href="#">Dropdown link</a></li>
								    <li><a href="#">Dropdown link</a></li>
							    </ul>
						        
					        </div>
						</div>
					</div>
					<div class="carrinho col-md-3">
						<button type="button" class="btn btn-success btn-lg col-md-12" id="botao_carrinho">
							Carrinho <span class="glyphicon glyphicon-shopping-cart"></span>
						</button>
					</div>
					<div class="busca col-md-9">
						<div id="campo_busca">
						 	<div class="">
							    <div class="input-group">
								    <input type="text" class="form-control">
								    <span class="input-group-btn">
								    	 <button class="btn btn-default" type="button">Buscar</button>
								    </span>
							    </div>
		  					</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<main>
			<div class="container">
				<div class="row conteudo">
					<div class="menu_lateral col-md-3">
						<div class="panel panel-default">
							<div class="panel-heading cor_titulo">Notebook</div>
							<ul class="list-group">
								<a href=""><li class="list-group-item">Acer</li></a>
								<a href=""><li class="list-group-item">Acer</li></a>
								<a href=""><li class="list-group-item">Acer</li></a>
							</ul>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading cor_titulo">Notebook</div>
							<ul class="list-group">
								<a href=""><li class="list-group-item">Acer</li></a>
								<a href=""><li class="list-group-item">Acer</li></a>
								<a href=""><li class="list-group-item">Acer</li></a>
							</ul>
						</div>
					</div>
					<div class="produto col-md-9">
						<div class="row">
							<div class="foto col-md-6">
								<div class="row">
									
								</div>
							</div>

							<div class="desc_produto col-md-6">
								<div class="row">
									<h2>Nome do Produto</h2>
									<div class="desc col-md-12"><h4>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.
</h4></div>
									<p><a href="#" class="btn btn-success col-md-10" role="button">Comprar</a></p>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</main>
		<footer>
			<div class="container">
				<div class="row rodape">

					<div class="lista_links col-md-3">
						<label>Links</label>
						<ul>
							<li><a href="#">Home</a></li>
							<li><a href="#">Home</a></li>
							<li><a href="#">Home</a></li>
							<li><a href="#">Home</a></li>
						</ul>
					</div>
					<div class="formas_pagamento col-md-3">
						<ul>
							<li><label>Formas de Pagamento</label></li>
							<li><a href="#"><img src="boleto.png" width="60" height="50"></a></li>
						</ul>
					</div>
					<div class="contato col-md-3">
						<ul>
							<li><label>Contato</label></li>
							<li>Tel: 
							0800 321 4567</li>
							<li>Email: atendimento@zecommerce.com</li>
						</ul>
					</div>

					<div class="redes_sociais col-md-3">
						<ul>
							<li><label>Redes Sociais</label></li>
							<li><a href="#"><img src="redes.png" width="100" height="50"></a></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>