<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<title>Produto</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <link rel="stylesheet" type="text/css" href="../Lib/css/bootstrap.min.css">
	    <script type="text/javascript" src="../Lib/js/jquery.min.js"></script>
	    <script type="text/javascript" src="../Lib/js/bootstrap.min.js"></script>
	   	<link href="index.css" rel="stylesheet">

	   	<!-- Adicionando plugins-->
		<script type="text/javascript" src="../plugin/lib/jquery.mousewheel-3.0.6.pack.js"></script>
		<link rel="stylesheet" href="../plugin/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
		<script type="text/javascript" src="../plugin/source/jquery.fancybox.pack.js?v=2.1.5"></script>
		<link rel="stylesheet" href="../plugin/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
		<script type="text/javascript" src="../plugin/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
		<script type="text/javascript" src="../plugin/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>
		<link rel="stylesheet" href="../plugin/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
		<script type="text/javascript" src="../plugin/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>

	</head>
	<body>
		<header>
			<div class="container">
				<div class="topo row">
					<div class="logo col-md-3">
						<a href="#"><img src="logo.png" width="250" height="150"></a>
					</div>
					<div class="menu col-md-6">
						<div id="botao_menu">
					        <div class="btn-group btn-group-lg">
						        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Home <span class="caret"></span></button>
							        <ul class="dropdown-menu">
									    <li><a href="#">Dropdown link</a></li>
									    <li><a href="#">Dropdown link</a></li>
								    </ul>
							  	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Home <span class="caret"></span></button>
						        <ul class="dropdown-menu">
								    <li><a href="#">Oi</a></li>
								    <li><a href="#">Dropdown link</a></li>
							    </ul>
							    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Home <span class="caret"></span></button>
						        <ul class="dropdown-menu">
								    <li><a href="#">Dropdown link</a></li>
								    <li><a href="#">Dropdown link</a></li>
							    </ul>
							    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Home <span class="caret"></span></button>
						        <ul class="dropdown-menu">
								    <li><a href="#">Dropdown link</a></li>
								    <li><a href="#">Dropdown link</a></li>
							    </ul>
							    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Home <span class="caret"></span></button>
						        <ul class="dropdown-menu">
								    <li><a href="#">Dropdown link</a></li>
								    <li><a href="#">Dropdown link</a></li>
							    </ul>
						        
					        </div>
						</div>
					</div>
					<div class="carrinho col-md-3">
						<button type="button" class="btn btn-success btn-lg col-md-12" id="botao_carrinho">
							Carrinho <span class="glyphicon glyphicon-shopping-cart"></span>
						</button>
					</div>
					<div class="busca col-md-9">
						<div id="campo_busca">
						 	<div class="">
							    <div class="input-group">
								    <input type="text" class="form-control">
								    <span class="input-group-btn">
								    	 <button class="btn btn-default" type="button">Buscar</button>
								    </span>
							    </div>
		  					</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<main>
			<div class="container">
				<div class="row conteudo">
					<div class="menu_lateral col-md-3">
						<div class="panel panel-default">
							<div class="panel-heading cor_titulo">Notebook</div>
							<ul class="list-group">
								<a href=""><li class="list-group-item">Acer</li></a>
								<a href=""><li class="list-group-item">Acer</li></a>
								<a href=""><li class="list-group-item">Acer</li></a>
							</ul>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading cor_titulo">Notebook</div>
							<ul class="list-group">
								<a href=""><li class="list-group-item">Acer</li></a>
								<a href=""><li class="list-group-item">Acer</li></a>
								<a href=""><li class="list-group-item">Acer</li></a>
							</ul>
						</div>
					</div>
					<div class=" col-md-9">
						<div class="row">
							<div class="col-md-6">
								<div class="row">
									<a class="fancybox thumbnail" rel="group" href="logo.png"><img src="logo.png" class="foto-principal" alt=""/></a>
								</div>
								<div class="row foto_min">
									<div class="col-md-6"><a class="fancybox thumbnail" rel="group" href="logo.png"><img class="foto" src="logo.png" alt=""/></a></div>

									<div class="col-md-6"><a class="fancybox thumbnail" rel="group" href="logo.png"><img class="foto" src="logo.png" alt=""/></a></div>
								</div>
							</div>

							<div class="desc_produto col-md-6">
								<div class="row">
									<h2>Nome do Produto</h2>
									<div class="desc col-md-12"><h4>
									Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. 
									</h4></div>
									<div class="pull-right cor_preco preco"><h2>R$ 1.200,00</h2></div>
									<p><a href="#" class="btn btn-success col-md-8 pull-right comprar" role="button">Comprar</a></p>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</main>
		<footer>
			<div class="container">
				<div class="row rodape">

					<div class="lista_links col-md-3">
						<label>Links</label>
						<ul>
							<li><a href="#">Home</a></li>
							<li><a href="#">Home</a></li>
							<li><a href="#">Home</a></li>
							<li><a href="#">Home</a></li>
						</ul>
					</div>
					<div class="formas_pagamento col-md-3">
						<ul>
							<li><label>Formas de Pagamento</label></li>
							<li><a href="#"><img src="boleto.png" width="60" height="50"></a></li>
						</ul>
					</div>
					<div class="contato col-md-3">
						<ul>
							<li><label>Contato</label></li>
							<li>Tel: 
							0800 321 4567</li>
							<li>Email: atendimento@zecommerce.com</li>
						</ul>
					</div>

					<div class="redes_sociais col-md-3">
						<ul>
							<li><label>Redes Sociais</label></li>
							<li><a href="#"><img src="redes.png" width="100" height="50"></a></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
			<script type="text/javascript">
				$(document).ready(function() {
				$(".fancybox").fancybox();
			});
		</script>
	</body>
</html>